.contactForProduct {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}

.titleDiv {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.formButton {
    margin-top: 20px;
    width: 100%;
    padding: 8px 0px;
    color: white !important;
    font-weight: bold;
    border: solid 1px #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #000000 -50%, #6b6b6b 93%) !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
    margin-top: 20px;
}

.formDiv {
    padding: 10px;
}
