@model BlogListDTO
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/ProductDetailsStyle.css" />

<div class="container">
    <div style="display: flex; align-items: center;">
        <a onclick="closePartialView()" href="#">
            <i class="fa-solid fa-chevron-left" style="color: darkblue; font-weight: bold; font-size: 20px;"></i>
        </a>
        <h1 style="margin: auto;">@Model.Title</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div id="slider" class="owl-carousel product-slider">
                @if (Model.ImageUrl != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div id="slider" class="owl-carousel product-slider">
                                <div class="item">
                                    <img src="@Model.ImageUrl" style="width: 100%; height: 50%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>